<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:reg="http://www.dangdang.com/schema/ddframe/reg"
	   xmlns:job="http://www.dangdang.com/schema/ddframe/job"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.dangdang.com/schema/ddframe/reg
                        http://www.dangdang.com/schema/ddframe/reg/reg.xsd
                        http://www.dangdang.com/schema/ddframe/job
                        http://www.dangdang.com/schema/ddframe/job/job.xsd
                        ">
	<!--配置esjob作业注册中心 -->
	<reg:zookeeper id="regCenter" server-lists="${zkServer}" namespace="moses-es" base-sleep-time-milliseconds="1000" max-sleep-time-milliseconds="3000" max-retries="3" />

	<!-- 重建索引  每天凌晨7点-->
	<job:simple id="rebuildProductEsIndexTask" class="com.biyao.moses.timerTask.RebuildEsIndexTask" overwrite="true"
				job-sharding-strategy-class="com.dangdang.ddframe.job.lite.api.strategy.impl.RotateServerByNameJobShardingStrategy"
				registry-center-ref="regCenter" cron="0 0 7 * * ?" sharding-total-count="1" />

	<!-- 删除过期索引 每天凌晨4点-->
	<job:simple id="removeOverdueIndexTask" class="com.biyao.moses.timerTask.RemoveOverdueIndexTask" overwrite="true"
				job-sharding-strategy-class="com.dangdang.ddframe.job.lite.api.strategy.impl.RotateServerByNameJobShardingStrategy"
				registry-center-ref="regCenter" cron="0 0 4 * * ?" sharding-total-count="1" />

<!--	&lt;!&ndash; mq对账&ndash;&gt;-->
<!--	<job:simple id="productBaseInfoMqCheckJob" class="com.biyao.moses.timerTask.ProductBaseInfoMqCheckJob" overwrite="true"-->
<!--				job-sharding-strategy-class="com.dangdang.ddframe.job.lite.api.strategy.impl.RotateServerByNameJobShardingStrategy"-->
<!--				registry-center-ref="regCenter" cron="0 0/10 * * * ?" sharding-total-count="1" />-->

</beans>